/node_modules/
npm-debug.log

/build/
/node_modules
# custom
/.env

/log/*
!/log/.gitkeep

/tmp/*
!/tmp/.gitkeep

# Dev database
/db.sqlite*

# DB Config
/src/config/config.js

package-json

/public/uploads/*
!/public/uploads/.gitkeep
