body{
	background: #AED581;
}

.hide{
	display:none;
}

/* ----- MAIN CONTENT ------ */
#root, .pageWrap, .ant-layout, .ant-layout-has-sider{
	min-height: 100vh;
	background: linear-gradient(#E0F7FA,#F1F8E9);
}
.ant-form {
	min-width: 500px;
}

.ant-layout-content > div {
	box-shadow: 0px 0px 20px #E0E0E0;
}

/* ----- LOGIN ------ */

h1{
	text-align: center;
}
h3{
	text-align: center;
}
.login-wrap{
	height: 100vh;
}
.login-wrap embed{
	max-width: 89%;
	padding-left: 43px;
	margin-bottom: -17px;
}
.login-form{
	background: #fff;
	box-shadow: 0px 0px 30px #616161;
	padding: 30px;
	width: 100%;
}
.login-form-button{
	width: 100%;
}
.ant-form-item{
	margin-bottom: 7px;
}

/* ----- SiderMenu ------ */
.logoMenu embed {
	height: 42px;
	margin: 16px;
}
.logomenu{
	background: #0000004f;
}
.ant-layout-sider {
	background: #37474F;
	box-shadow: 0px 0px 20px #E0E0E0;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
	background: #37474F;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
	background-color: rgb(47, 53, 54);
	color: #E0F7FA;
	text-decoration: none;
	font-weight: bold;
}

/* ----- Footer ------ */
.footer{
	max-height: 100px;
}
