body{
	background: #E0F7FA;
}

.hide{
	display:none;
}

/* ----- MAIN CONTENT ------ */
#root, .pageWrap, .ant-layout, .ant-layout-has-sider{
	min-height: 100vh;
	background: linear-gradient(#E0F7FA,#F1F8E9);
}
.ant-layout-header {
	background: rgb(36, 36, 36);
	box-shadow: 0px 0px 20px rgb(179, 179, 179);
}
.ant-form {
	min-width: 500px;
}

.content-wrapper {
	box-shadow: 0px 0px 20px rgb(179, 179, 179);
}
.main-menu {
	/* box-shadow: 0px 0px 20px rgb(161, 161, 161); */
}

a {
	color: #4CAF50;
	transition: 0.3 ease;
}

a:hover {
	text-decoration: underline;
	color: #388E3C;
}

.ant-timeline-item-head-blue {
	border-color: #2E7D32;
}

.ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
	color: #2E7D32;
}

.ant-upload:hover.ant-upload-drag:hover {
	border: 1px dashed #2E7D32;
}

.anticon .anticon-inbox {
	color: #2E7D32;
}

.ant-btn:hover {
	color: #2E7D32;
	border-color: #2E7D32;
}

.ant-btn-primary {
	background-color: #fff;
	color: #2E7D32;
	border-color: #2E7D32;
}

.ant-btn-primary:hover {
	background-color: #2E7D32;
	color: #fff;
	border-color: #2E7D32;
}

.ant-pagination-item-active {
	border-color: #81C784;
	color: #81C784;
}

.ant-pagination-item-active a {
	color: #81C784;
}

.ant-pagination-item-active:hover {
	border-color: #2E7D32;
	color: #2E7D32;
	box-shadow: 0px 0px 10px #81C784;
}

.ant-pagination-item-active a:hover {
	color: #2E7D32;
}


.ant-input:hover {
	border: 1px solid #2E7D32;
}

.ant-input:focus {
	border: 1px solid #81C784;
	box-shadow: 0px 0px 10px #81C784;
}
.ant-input:focus:hover {
	border: 1px solid #2E7D32;
	box-shadow: 0px 0px 10px #81C784;
}

.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
	background: #C8E6C9;
}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
	border: 1px solid #2E7D32;
	border-radius: 5px;
}
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
	border-color: #2E7D32;
}
.ant-transfer-list-content-item:not(.ant-transfer-list-content-item-disabled):hover {
	cursor: pointer;
	background-color: #C8E6C9;
}

.ant-checkbox-checked .ant-checkbox-inner {
	background-color: #2E7D32;
	border-color: #2E7D32;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
	border-color: 	#2E7D32;

}

.ant-checkbox-indeterminate .ant-checkbox-inner:after {
	background-color: #2E7D32;
}

.ant-select-selection:hover {
	border-color: #2E7D32;
	border-right-width: 1px !important;
}

.ant-select-dropdown-menu-item:hover {
	background-color: #C8E6C9;
}

.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
	border-color: #2E7D32;
	box-shadow: 0px 0px 5px #2E7D32;
}
.ant-select-dropdown-menu-item-active {
	background-color: #C8E6C9;
}

@-webkit-keyframes transferHighlightIn {
	0% {
	  background: #C8E6C9;
	}
	100% {
	  background: transparent;
	}
  }
  @keyframes transferHighlightIn {
	0% {
	  background: #C8E6C9;
	}
	100% {
	  background: transparent;
	}
}

.ant-calendar-date:active {
	color: #fff;
	background: #C8E6C9;
}
.ant-calendar-today .ant-calendar-date {
	border-color: #2E7D32;
	color: #2E7D32;
}

.ant-calendar-date:hover {
	background: #C8E6C9;
	cursor: pointer;
}

.ant-calendar-selected-day .ant-calendar-date {
	background: #C8E6C9;
}
.ant-calendar-selected-date .ant-calendar-date,
.ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-selected-end-date .ant-calendar-date {
	background: #2E7D32;
	color: #fff;
	border: 1px solid transparent;
}
.ant-calendar-selected-date .ant-calendar-date:hover,
.ant-calendar-selected-start-date .ant-calendar-date:hover,
.ant-calendar-selected-end-date .ant-calendar-date:hover {
	background: #C8E6C9;
	color: #2E7D32;
}

.ant-upload-list-item:hover .ant-upload-list-item-info {
	background: #C8E6C9
}

/* ----- LOGIN ------ */

h1{
	text-align: center;
}
h3{
	text-align: center;
}
.login-wrap{
	height: 100vh;
}
.login-wrap embed{
	max-width: 89%;
	padding-left: 43px;
	margin-bottom: -17px;
}
.login-form{
	background: #fff;
	box-shadow: 0px 0px 30px rgb(161, 161, 161);
	padding: 30px;
	width: 100%;
}
.login-form-button{
	width: 100%;
}
.ant-form-item{
	margin-bottom: 7px;
}

/* ----- SiderMenu ------ */
.logoMenu embed {
	height: 42px;
	margin: 16px;
}
.logomenu{
	background: #0000004f;
}
.ant-layout-sider {
	background: rgb(36, 36, 36);
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
	background: rgb(36, 36, 36);
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
	background: rgb(36, 36, 36);
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
	background-color: rgb(47, 53, 54);
	color: #E0F7FA;
	text-decoration: none;
	font-weight: bold;
}
/* ----- Footer ------ */
.footer{
	max-height: 100px;
}
